$purple: #35016f;
$otherpurple: #8500a8;
$yellow: #fbc117;
$colorshadow: rgba(234, 200, 102, 0.5);

$font-sans-serif: 'Poppins', 'Helvetica Neue', sans-serif;
$font-serif: 'Taviraj', 'Georgia', serif;